@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --font-family: 'Poppins', sans-serif;
    ;
    --font-size: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: var(--Very-Light-Gray);
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding-top: 5rem;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
}

.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--Very-Dark-Blue);
    width: 720px;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-weight: 400;
    margin: 2rem;
    color: var(--Grayish-Blue);
}

.container_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-align: left;
    gap: 2rem;
}

.card {
    width: 400px;
    border-radius: 0.5rem;
    background: #fff;
    padding: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card img {
    float: right;
    margin-top: 4rem;
}

.container_cards_left {
    border-top: 5px solid var(--Cyan);
}

.container_cards_center_top {
    border-top: 5px solid var(--Red);
}

.container_cards_center_bottom {
    border-top: 5px solid var(--Orange);
}

.container_cards_right {
    border-top: 5px solid var(--Blue);
}

.container_cards_center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
}

h4 {
    font-size: 1.5rem;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1rem;
}

p {
    color: var(--Grayish-Blue);
}

@media only screen and (max-width: 1280px) {
    body {
        height: auto;
    }

    .container_cards {
        flex-direction: column;
    }
}

@media only screen and (max-width: 680px) {
    body {
        height: auto;
        width: 100%;
    }

    .container_info {
        width: 100%;
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 200;
    }

    h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        height: auto;
        width: 100%;
        padding: 2rem;
    }
    h1 {
        font-size: 1.5rem;
        font-weight: 200;
    }

    h2 {
        font-size: 1.5rem;
    }
    .card {
        width: 100%;
    }
    h3{
        font-size: 0.9rem;
    }
}